/* 메인 폴인 쇼츠 */
.slide-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.slide-button [class*='button'] {
  width: 24px;
  height: 24px;
  /* border: 1px solid powderblue; */
}
.slide-button [class*='button-prev'] {
  background: url(/images/prev.png) no-repeat center / cover;
}
.slide-button [class*='button-next'] {
  background: url(/images/next.png) no-repeat center / cover;
}
.slide-button [class*='button-disabled'] {
  opacity: 0.3;
}

/* 메인 최근 많이 본 아티클 */
.slide-articles {
  border: 1px solid paleturquoise;
}
